n8n-backup/workflows.json
[{"updatedAt":"2026-06-30T22:38:25.863Z","createdAt":"2026-06-30T18:12:29.283Z","id":"4NH8iBi2kQQzmV0M","name":"Fabryka Rolek v1","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"test","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-736,-5312],"id":"c509a0fb-8e78-4a61-8538-68e34fee7413","name":"Webhook","webhookId":"e03ddb6b-a6f9-495d-81e3-f1a3fae6c06b"},{"parameters":{"method":"POST","url":"http://fabryka-api:8000/generate","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"prompt\": \"{{$json.body.prompt}}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-608,-4736],"id":"b8eba6d7-9ef0-4904-85bc-3d068e93753c","name":"HTTP Request"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[-304,-5328],"id":"9a3adc88-e8b0-437f-85f7-934ff156756d","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"nodeGroups":[],"pinData":{},"versionId":"c627f51d-2997-40eb-9092-c13a7545ae09","activeVersionId":"c627f51d-2997-40eb-9092-c13a7545ae09","versionCounter":113,"triggerCount":1,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-06-30T18:12:29.286Z","createdAt":"2026-06-30T18:12:29.286Z","role":"workflow:owner","workflowId":"4NH8iBi2kQQzmV0M","projectId":"5qqUB9n0qVe5ZDhp","project":{"updatedAt":"2026-06-30T17:58:44.427Z","createdAt":"2026-06-30T17:46:14.892Z","id":"5qqUB9n0qVe5ZDhp","name":"Tomasz Maksys <tomasz.maxisch@gmail.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"fa172cd3-ba9f-4b36-b350-372968e68837"}}],"versionMetadata":{"name":"Version c627f51d","description":""}}]